@media (max-width: 1919.9px) {
    /* 1. ГЛОБАЛЬНЫЕ СТИЛИ */
    /* 1.2 Постоянные значения */

    :root {
        /* Цвета: */
        /* --background-color */
        --background-nav: rgba(0, 0, 0, 0.9);
        --background-search: #000;
        --background-button-4: #000;

        /* --details-color */
        --track-simplebar-3: #b7b7b7;
        --scrollbar-simplebar-3: #fff;

        /* Отступы: */
        /* --gap */
        --gap-header-container: 0;
        --gap-header-box: 111px;
        --gap-header-anchor: 0px;
        --gap-header-box-search: 10px;
        --gap-catalog-country-box: 43px;
        --gap-events-list: 27px;
        --gap-events-information: 25px;
        --gap-editions-content: 12px;
        --gap-editions-navigation: 18px;
        --gap-contacts-list-social: 30px;
        --footer-links-gap: 30px;

        /* --margin */
        --margin-preview-title: 11px;
        --margin-preview-text: 134px;
        --margin-events-list: 49.2px;
        --margin-editions-img: 13px;
        --margin-editions-box: 19px;
        --margin-editions-subject: 3px;
    }

    html {
        font-size: calc(1px + 1 * ((100vw - 1024px) / 1024));
    }

    /* 1.5. Особые состояния */
    .container {
        max-width: 1919px;
        padding: 0 50px;
    }

    /* 1.10. Прочее */
    .slide-1 {
        background-image: url(../img/header-1024_image-1.webp);
    }

    .slide-2 {
        background-image: url(../img/header-1024_image-2.webp);
    }

    .slide-3 {
        background-image: url(../img/header-1024_image-3.webp);
    }

    .size-partners01 {
        width: min(54.973%, 244px);
        height: min(54.973%, 63px);
    }

    .size-partners02 {
        width: min(74.083%, 330px);
        height: min(74.083%, 59px);
    }

    .size-partners03 {
        width: min(59.947%, 229px);
        height: min(59.947%, 54px);
    }

    .size-partners04 {
        width: min(27.476%, 123px);
        height: min(27.476%, 85px);
    }

    .size-partners05 {
        width: min(38.646%, 173px);
        height: min(38.646%, 85px);
    }

    .size-partners06 {
        width: min(56.293%, 252px);
        height: min(56.293%, 70px);
    }

    .size-partners07 {
        width: min(63.887%, 286px);
        height: min(63.887%, 69px);
    }

    .size-partners08 {
        width: min(41.327%, 185px);
        height: min(41.327%, 81px);
    }

    .size-partners09 {
        width: min(51.209%, 229px);
        height: min(51.209%, 62px);
    }

    /*  2. HEADER 
        ==========================================================================  */

    .header__container-top {
        padding-top: 29px;
        padding-bottom: 29px;
    }

    .header__burger {
        position: relative;
        z-index: 3;
        display: block;
        width: 36px;
        height: 28px;
        transform: translateY(1px);
        transition: transform 0.2s ease-in-out 0.1s;
    }

    .header__burger::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: -8px;
        right: -8px;
        bottom: -8px;
        left: -8px;
        border: 2px solid var(--focus-border-5);
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
    }

    .header__line {
        position: absolute;
        top: 12.16px;
        left: 0;
        display: block;
        height: 13%;
        width: 78%;
        background-color: var(--border-1);
    }

    .header__burger:focus-visible:not(:hover):not(:active)::after {
        opacity: 1;
    }

    .header__burger:hover .header__line {
        background-color: var(--hover-2);
    }

    .header__burger:active .header__line {
        background-color: var(--active-1);
    }

    .header__line--passive {
        transition: top 0.2s ease-in-out 0.1s, left 0.2s ease-in-out, transform 0.2s ease-in-out,
            width 0.2s ease-in-out 0.1s;
    }

    .header__line--passive:nth-child(1) {
        top: 0;
        width: 100%;
    }

    .header__line--passive:nth-child(2) {
        top: 12.16px;
        width: 78%;
    }

    .header__line--passive:nth-child(3) {
        bottom: 12.16px;
        width: 78%;
    }

    .header__line--passive:nth-child(4) {
        top: 24.35px;
        width: 65%;
    }

    .header__burger--open {
        transform: translateX(-4px) translateY(1px);
        transition: transform 0.2s ease-in-out;
    }

    .header__line--active {
        top: 12.16px;
        left: 3.4px;
        width: 103%;
        transform-origin: center center;
        transition: top 0.2s ease-in-out, left 0.2s ease-in-out 0.1s, transform 0.2s ease-in-out 0.1s,
            width 0.2s ease-in-out;
    }

    .header__line--active:nth-child(1) {
        transform: translateX(-3px) translateY(0.5px) rotate(45deg);
    }

    .header__line--active:nth-child(2) {
        transform: translateX(-3px) translateY(0.5px) rotate(45deg);
    }

    .header__line--active:nth-child(3) {
        transform: translateX(-3px) translateY(0.5px) rotate(-45deg);
    }

    .header__line--active:nth-child(4) {
        transform: translateX(-3px) translateY(0.5px) rotate(-45deg);
    }

    .header__logo {
        margin-right: 7px;
        max-width: 187.6px;
        max-height: 42px;
    }

    .header__img {
        width: 187.6px;
        height: 42px;
    }

    .header__box {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        margin: 0px;
        padding-top: 100px;
        padding-right: 25px;
        padding-bottom: 51px;
        padding-left: 48px;
        visibility: hidden;
        opacity: 0;
        background-color: var(--background-nav);
        transition: opacity 0.15s ease-in-out, visibility 0.15s;
    }

    .header__box--active {
        visibility: visible;
        opacity: 1;
    }

    .header__track-menu {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 2px;
        background-color: var(--tracl-simplebar-3);
        pointer-events: none;
        overflow: hidden;
    }

    .header__scrollbar-menu {
        position: absolute;
        left: 0;
        right: 0;
        width: 2px;
        height: 28px;
    }

    .header__scrollbar-menu::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 1;
        background-color: var(--scrollbar-simplebar-3);
    }

    .header__container-box {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0;
        padding-right: 40px;
        margin-top: -3px;
        overflow: visible;
    }

    .header__list-anchor {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .header__link-anchor {
        font-size: 24px;
        line-height: 64px;
        text-align: left;
    }

    .header__button-login {
        margin-left: 2px;
        border: 2px solid var(--border-3);
        padding: 17px 83px;
        padding-left: 72px;
        min-width: 257px;
        max-width: 400px;
        background-color: var(--background-button-4);
        border-radius: 100px;
    }

    .header__open-search {
        position: relative;
        display: block;
        visibility: visible;
        opacity: 1;
        transform: translateX(1px) translateY(0.8px);
        transition: opacity 0.15s ease-in-out 0.15s, visibility 0.3s;
    }

    .header__open-search::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: -8px;
        left: -8px;
        bottom: -8px;
        right: -8px;
        border: 2px solid var(--focus-border-5);
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
    }

    .header__loop-search {
        width: 29.45px;
        height: 28.82px;
    }

    .header__open-search:focus-visible:not(:hover):not(:active)::after {
        opacity: 1;
    }

    .header__open-search:hover .header__loop-search {
        fill: var(--hover-2);
    }

    .header__open-search:active .header__loop-search {
        fill: var(--active-1);
    }

    .header__open-search--active {
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
    }

    .header__box-search {
        position: absolute;
        z-index: 4;
        top: 35px;
        right: 50px;
        bottom: 29px;
        display: flex;
        gap: var(--gap-header-box-search);
        justify-content: space-between;
        align-items: center;
        padding-right: 7px;
        min-width: 311px;
        background-color: var(--background-search);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.15s ease-in-out, visibility 0.15s;
    }

    .header__box-search--active {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.15s ease-in-out 0.15s;
    }

    .header__form-search {
        padding-bottom: 4px;
    }

    .header__input-search::placeholder {
        color: transparent;
    }

    .header__activate-search {
        width: 29.45px;
        height: 28.82px;
    }

    .header__close-search {
        position: relative;
        z-index: 1;
    }

    .header__close-search::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: -8px;
        left: -8px;
        bottom: -8px;
        right: -8px;
        border: 2px solid var(--focus-border-5);
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
    }

    .header__cross-search {
        display: block;
        width: 23px;
        height: 23px;
        fill: var(--svg-1);
        transition: fill 0.15s ease-in-out;
    }

    .header__close-search:focus-visible:not(:hover):not(:active)::after {
        opacity: 1;
    }

    .header__close-search:hover .header__cross-search {
        fill: var(--hover-2);
    }

    .header__close-search:active .header__cross-search {
        fill: var(--active-1);
    }

    .header__background-bottom {
        display: none;
    }

    /*  3. PREVIEW
        ==========================================================================  */

    .preview__content {
        padding-top: 113px;
        padding-bottom: 114px;
        min-height: 668px;
    }

    .preview__heading {
        max-width: 661px;
    }

    .preview__text {
        max-width: 670px;
    }

    /*  5. GALLERY
        ==========================================================================  */

    .gallery__background::after {
        background-image: url(../img/gallery-1024-background.webp);
    }

    .gallery__left {
        width: calc(280 / 924 * 100%);
    }

    .gallery__pictures {
        padding-bottom: 10px;
        width: calc(594 / 924 * 100%);
    }

    .gallery__navigation {
        padding-left: 1px;
    }

    .gallery__number {
        padding-right: 1px;
    }

    .gallery__swiper {
        height: 594rem;
    }

    .gallery__item-swiper {
        height: calc((100% - 34px) / 2);
    }

    .gallery__modal {
        width: calc(594 / 1024 * 100%);
        height: clamp(250px, 95vh, 594px);
    }

    .gallery__picture-modal {
        width: calc(264 / 594 * 100%);
    }

    .gallery__information-modal {
        padding-top: 122px;
        padding-right: 30px;
        padding-bottom: 70px;
        padding-left: 50px;
    }

    /*  6. BIG-SECTION
        ==========================================================================  */

    /**
     * 6.1. CATALOG 
     */

    .catalog__heading {
        padding-left: 1px;
    }

    .catalog__list-country {
        padding-top: 18px;
    }

    .catalog__right {
        width: calc(437 / 924 * 100%);
    }

    .catalog__list-artist {
        margin-right: -70px;
        column-count: 2;
    }

    .catalog__plug-artist {
        display: none;
    }

    .catalog__img-null {
        width: 189px;
        height: 130px;
    }

    .catalog__left {
        width: calc(437 / 924 * 100%);
    }

    /**
     * 6.2. EVENTS
     */

    .events__img {
        max-height: 300px;
    }

    .events__information {
        padding-top: 15px;
        padding-right: 18px;
        padding-bottom: 48px;
        padding-left: 34px;
    }

    .events__button {
        padding-bottom: 16px;
    }

    /*  7. EDITIONS
        ==========================================================================  */

    .editions__background {
        background-image: url(../img/editions-1024-background.webp);
    }

    .editions__content {
        padding-bottom: 80px;
    }

    .editions__filter {
        width: calc(277 / 924 * 100%);
    }

    .editions__box-cost {
        max-width: 350px;
    }

    .editions__products {
        width: calc(638 / 924 * 100%);
    }

    .editions__navigation {
        padding-top: 33px;
        padding-bottom: 29px;
    }

    .editions__number {
        padding-right: 1px;
    }

    .editions__swiper {
        height: 433rem;
    }

    /*  8. PROJECTS
        ==========================================================================  */

    .projects__swiper {
        margin: 0 23px;
    }

    .projects__item-swiper {
        height: 126px;
    }

    /*  9. CONTACTS
        ==========================================================================  */

    .contacts__heading {
        padding-left: 50px;
    }

    .contacts__content {
        padding-right: 101px;
        padding-bottom: 102px;
        padding-left: 49px;
        width: calc(487 / 1024 * 100%);
        max-width: 700px;
    }

    .contacts__zoom-map {
        display: none;
    }

    .contacts__input-validate {
        min-width: 335px;
    }

    .contacts__button {
        padding-right: 33px;
        padding-bottom: 16px;
    }

    .contacts__link-social {
        width: 60px;
        height: 60px;
    }

    .contacts__svg-social {
        width: 60px;
        height: 60px;
    }

    /* 10. FOOTER */
    .footer__container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer__logo {
        padding-left: 1px;
        padding-top: 0;
    }

    .footer__link-social {
        width: 60px;
        height: 60px;
    }

    .footer__svg-social {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 1023.9px) {
    /* 1. ГЛОБАЛЬНЫЕ СТИЛИ */
    /* 1.2 Постоянные значения */

    :root {
        /* Цвета: */
        /* --background-color */
        --background-button-4: #000;

        /* Отступы: */
        /* --gap */
        --gap-header-box-search: 23.1px;
        --gap-gallery-box: 25px;
        --gap-catalog-country-box: 40px;
        --gap-catalog-country-list: 54px;
        --gap-catalog-accordion: 35px;
        --gap-events-list: 34px;
        --gap-events-information: 59px;

        /* --margin */
        --margin-gallery-pictures: 5px;
        --margin-catalog-text: 20px;
        --margin-events-list: 49.85px;
        --margin-events-subject: 2px;
        --margin-editions-list-category: 25px;
        --margin-projects-text: 26.5px;
        --margin-projects-subject: 28.5px;
        --margin-contacts-list-validate: 20px;
        --margin-contacts-subject-social: 15px;
    }

    html {
        font-size: calc(1px + 1 * ((100vw - 768px) / 768));
    }

    /* 1.10. Прочее */
    .slide-1 {
        background-image: url(../img/header-768_image-1.webp);
    }

    .slide-2 {
        background-image: url(../img/header-768_image-2.webp);
    }

    .slide-3 {
        background-image: url(../img/header-768_image-3.webp);
    }

    .size-partners01 {
        width: min(80.091%, 210px);
        height: min(80.091%, 52px);
    }

    .size-partners02 {
        width: min(82.763%, 283px);
        height: min(82.763%, 49px);
    }

    .size-partners03 {
        width: min(74.427%, 229px);
        height: min(74.427%, 54px);
    }

    .size-partners04 {
        width: min(40.061%, 104.96px);
        height: min(40.061%, 72.53px);
    }

    .size-partners05 {
        width: min(46.183%, 147.63px);
        height: min(46.183%, 72.53px);
    }

    .size-partners06 {
        width: min(67.175%, 215.04px);
        height: min(67.175%, 59.73px);
    }

    .size-partners07 {
        width: min(74.045%, 244.05px);
        height: min(74.045%, 58.88px);
    }

    .size-partners08 {
        width: min(54.58%, 157.87px);
        height: min(54.58%, 69.12px);
    }

    .size-partners09 {
        width: min(69.465%, 195.62px);
        height: min(69.465%, 52.96px);
    }

    /*  2. HEADER 
        ==========================================================================  */

    .header__burger {
        transform: translateY(0.5px);
    }

    .header__burger--open {
        transform: translateX(-2.8px) translateY(1px);
    }

    .header__line--active:nth-child(1) {
        transform: translateX(-3.2px) translateY(0.5px) rotate(45deg);
    }

    .header__line--active:nth-child(2) {
        transform: translateX(-3.2px) translateY(0.5px) rotate(45deg);
    }

    .header__line--active:nth-child(3) {
        transform: translateX(-3.2px) translateY(0.5px) rotate(-45deg);
    }

    .header__line--active:nth-child(4) {
        transform: translateX(-3.2px) translateY(0.5px) rotate(-45deg);
    }

    .header__logo {
        margin-right: 9px;
    }

    .header__box {
        padding-left: 49px;
    }

    .header__open-search {
        transform: translateX(0.7px) translateY(0px);
    }

    .header__loop-search {
        width: 28px;
        height: 28px;
    }

    .header__box-search {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding-top: 29px;
        padding-right: 50px;
        padding-bottom: 29px;
        padding-left: 50px;
        min-width: 0;
        width: 100%;
    }

    .header__form-search {
        padding-left: 1px;
        padding-bottom: 0;
        width: 100%;
        min-height: 30px;
    }

    .header__input-search {
        min-width: 0;
        width: 100%;
    }

    .header__close-search {
        padding-bottom: 3px;
    }

    .header__cross-search {
        width: 29px;
        height: 29px;
    }

    /*  4. ABOUT-US
        ==========================================================================  */

    .about-us__content {
        min-height: 487px;
    }

    /*  5. GALLERY
        ==========================================================================  */

    .gallery__background::after {
        background-image: url(../img/gallery-768-background.webp);
    }

    .gallery__content {
        flex-direction: column;
        justify-content: flex-start;
    }

    .gallery__left {
        width: 100%;
    }

    .gallery__select {
        width: calc(280 / 668 * 100%);
    }

    .gallery__text {
        display: none;
    }

    .gallery__pictures {
        margin-bottom: var(--margin-gallery-pictures);
        padding-bottom: 0;
        width: 100%;
    }

    .gallery__navigation {
        padding-left: 0;
    }

    .gallery__number {
        padding-right: 2px;
    }

    .gallery__text-adaptive {
        display: block;
        width: 100%;
    }

    .gallery__modal {
        width: calc(668 / 768 * 100%);
        height: clamp(300px, 95vh, 594px);
    }

    .gallery__picture-modal {
        width: calc(301 / 668 * 100%);
    }

    /*  6. BIG-SECTION
        ==========================================================================  */

    .big-section__events {
        padding-top: 70px;
    }

    /**
     * 6.1. CATALOG 
     */

    .catalog__list-country {
        padding-top: 4px;
    }

    .catalog__accordion {
        flex-direction: column;
    }

    .catalog__right {
        width: 100%;
    }

    .catalog__list-artist {
        margin-right: -54px;
        column-count: 3;
    }

    .catalog__plug-artist {
        display: block;
    }

    .catalog__img-null {
        width: 275px;
        height: 189px;
    }

    .catalog__left {
        padding-top: 15px;
        width: 100%;
    }

    /**
     * 6.2. EVENTS
     */

    .events__item {
        width: calc((100% - var(--gap-events-list)) / 2);
    }

    .events__item--hidden-768 {
        display: none;
    }

    .events__information {
        padding-right: 17px;
        padding-bottom: 47px;
    }

    /*  7. EDITIONS
        ==========================================================================  */

    .editions__background {
        background-image: url(../img/editions-768-background.webp);
    }

    .editions__content {
        flex-direction: column;
        padding-top: 84px;
    }

    .editions__filter {
        width: 100%;
    }

    .editions__list-category {
        display: block;
        columns: 3;
    }

    .editions__item-category {
        margin-right: 0;
        padding-right: 30px;
    }

    .editions__box-cost {
        margin-right: auto;
        width: 41.5%;
    }

    .editions__products {
        padding-bottom: 0;
        width: 100%;
    }

    .editions__navigation {
        padding-top: 37px;
        padding-bottom: 29px;
        padding-left: 0;
    }

    .editions__number {
        padding-right: 2px;
    }

    .editions__swiper {
        padding-left: 27px;
        padding-right: 27px;
        width: 100%;
    }

    /*  8. PROJECTS
        ==========================================================================  */

    .projects__text {
        width: 99%;
    }

    .projects__item-swiper {
        height: 106px;
    }

    /*  9. CONTACTS
        ==========================================================================  */

    .contacts__content {
        padding-right: 44px;
        padding-bottom: 103px;
        width: calc(430 / 768 * 100%);
        max-width: none;
    }
}

@media (max-width: 767.9px) {
    /* 1. ГЛОБАЛЬНЫЕ СТИЛИ */
    /* 1.2 Постоянные значения */

    :root {
        /* Цвета: */
        /* --background-color */
        --background-search: rgba(0, 0, 0, 0.9);
        --background-button-4: #000;
        --background-pagination-passive: #ececec;
        --background-pagination-active: #666;

        /* active */
        --active-6: #c283f3;

        /* Отступы: */
        /* --gap */
        --gap-header-box: 18px;
        --gap-header-button-login: 0;
        --gap-header-box-search: 34px;
        --gap-header-form-search: 3px;
        --gap-gallery-box: 19px;
        --gap-gallery-pictures: 19px;
        --gap-gallery-navigation: 14px;
        --gap-catalog-country-box: 12px;
        --gap-catalog-country-list: 32px;
        --gap-events-information: 25px;
        --gap-events-pagination: 15px;
        --gap-editions-content: 50px;
        --gap-editions-list-row: 50px;
        --gap-editions-list-column: 30px;
        --gap-editions-box: 2px;
        --gap-contacts-list-social: 20px;
        --footer-container-gap: 20px;

        /* --margin */
        --heading-margin: 12px;
        --margin-preview-title: 13px;
        --margin-preview-text: 41px;
        --margin-gallery-span: 5px;
        --margin-gallery-pictures: 0;
        --margin-catalog-country-box: 20px;
        --margin-catalog-img: 21px;
        --margin-catalog-subject: 14px;
        --margin-events-swiper: 20px;
        --margin-events-list: 0px;
        --margin-events-subject: 3px;
        --margin-editions-list-category: 0;
        --margin-editions-list-checked: 18px;
        --margin-editions-span-cost: 6.2px;
        --margin-editions-img: 10px;
        --margin-editions-box: 11px;
        --margin-editions-subject: 0;
        --margin-projects-text: 10px;
        --margin-projects-subject: 11px;
        --margin-contacts-adaptive: 18px;
        --margin-contacts-subject-address: 2px;
        --margin-contacts-address: 0;
        --margin-contacts-map: 24px;
        --margin-contacts-form: 24px;
        --margin-contacts-subject-form: 4px;
        --margin-contacts-item-validate: 3px;
        --margin-contacts-subject-social: 11px;
    }

    html {
        font-size: calc(1px + 1 * ((100vw - 320px) / 320));
    }

    .content {
        padding: 50px 0;
    }

    /* H1 */
    .title {
        font-size: 32px;
        line-height: 37px;
    }

    /* H2 */
    .heading {
        margin-bottom: var(--heading-margin);
        font-size: 28px;
        line-height: 38px;
    }

    /* H3 */
    .subject {
        font-size: 18px;
    }

    .subject-alternative {
        font-size: 18px;
    }

    .button-big {
        font-size: 12px;
        line-height: 17px;
    }

    .logo__link::before {
        top: -7px;
        right: -7px;
        bottom: -7px;
        left: -7px;
    }

    /* 1.5. Особые состояния */
    .container {
        max-width: 767px;
        padding: 0 15px;
    }

    /* 1.6. Логотип: HEADER и FOOTER */

    .logo-footer {
        width: 96.8px;
        height: 21.67px;
    }

    /* 1.10. Прочее */
    .slide-1 {
        background-image: url(../img/header-320_image-1.webp);
    }

    .slide-2 {
        background-image: url(../img/header-320_image-2.webp);
    }

    .slide-3 {
        background-image: url(../img/header-320_image-3.webp);
    }

    .size-partners01 {
        width: min(54.269%, 177.69px);
        height: min(54.269%, 44px);
    }

    .size-partners02 {
        width: min(73.134%, 217px);
        height: min(73.134%, 38px);
    }

    .size-partners03 {
        width: min(60.471%, 195px);
        height: min(60.471%, 45px);
    }

    .size-partners04 {
        width: min(27.616%, 72.35px);
        height: min(27.616%, 50px);
    }

    .size-partners05 {
        width: min(38.844%, 102.54px);
        height: min(38.844%, 50px);
    }

    .size-partners06 {
        width: min(56.58%, 176px);
        height: min(56.58%, 48px);
    }

    .size-partners07 {
        width: min(64.212%, 194px);
        height: min(64.212%, 47px);
    }

    .size-partners08 {
        width: min(41.538%, 126.85px);
        height: min(41.538%, 55px);
    }

    .size-partners09 {
        width: min(51.414%, 182px);
        height: min(51.414%, 49px);
    }

    /*  2. HEADER 
        ==========================================================================  */

    .header__background-top {
        min-height: 45px;
    }

    .header__container-top {
        padding-top: 12px;
        padding-bottom: 11.34px;
    }

    .header__burger {
        width: 25px;
        height: 18px;
        transform: translateY(-1px);
        transition: transform 0.2s ease-in-out;
    }

    .header__burger::after {
        top: -6px;
        right: -6px;
        bottom: -6px;
        left: -6px;
    }

    .header__line {
        height: 11%;
        width: 73%;
        top: 8px;
        left: 0;
    }

    .header__line--passive:nth-child(1) {
        top: 0;
        width: 100%;
    }

    .header__line--passive:nth-child(2) {
        top: 8px;
        width: 64%;
    }

    .header__line--passive:nth-child(3) {
        bottom: 8px;
        width: 64%;
    }

    .header__line--passive:nth-child(4) {
        top: 16px;
        width: 40%;
    }

    .header__burger--open {
        transform: translateX(-4.5px) translateY(-1px);
        transition: transform 0.2s ease-in-out 0.1s;
    }

    .header__line--active:nth-child(1) {
        transform: translateX(3.5px) translateY(0.5px) rotate(45deg);
    }

    .header__line--active:nth-child(2) {
        transform: translateX(3.5px) translateY(0.5px) rotate(45deg);
    }

    .header__line--active:nth-child(3) {
        transform: translateX(3.5px) translateY(0.5px) rotate(-45deg);
    }

    .header__line--active:nth-child(4) {
        transform: translateX(3.5px) translateY(0.5px) rotate(-45deg);
    }

    .header__logo {
        margin-right: 6px;
        max-width: 96.8px;
        max-height: 21.67px;
    }

    .header__img {
        width: 96.8px;
        height: 21.67px;
    }

    .header__box {
        padding-top: 46px;
        padding-right: 15px;
        padding-bottom: 9px;
        padding-left: 15px;
    }

    .header__container-box {
        margin-top: 0;
    }

    .header__link-anchor {
        font-size: 16px;
        line-height: 32px;
    }

    .header__button-login {
        margin-left: 0;
        padding-left: 22px;
        padding-right: 32px;
        padding-top: 10px;
        padding-bottom: 10px;
        min-width: 100px;
        max-width: 180px;
    }

    .header__box-login {
        padding-top: 0;
        padding-bottom: 1px;
    }

    .header__svg-login {
        margin-right: 1px;
        width: 14px;
        height: 9px;
    }

    .header__span-login {
        min-height: 16px;
        font-size: 12px;
        line-height: 16px;
    }

    .header__open-search {
        transform: translateX(0.5px) translateY(-1.2px);
    }

    .header__open-search::after {
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;
    }

    .header__loop-search {
        width: 17px;
        height: 17px;
    }

    .header__box-search {
        bottom: -30px;
        align-items: flex-end;
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 19px;
        padding-left: 57px;
    }

    .header__form-search {
        padding-left: 0;
        min-height: 16px;
    }

    .header__input-search {
        font-size: 10px;
        line-height: 14px;
    }

    .header__activate-search {
        width: 16px;
        height: 16px;
    }

    .header__close-search {
        padding-bottom: 0;
        align-self: flex-start;
    }

    .header__close-search::after {
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;
    }

    .header__cross-search {
        width: 15px;
        height: 15px;
    }

    /*  3. PREVIEW
        ==========================================================================  */

    .preview__content {
        padding-top: 33px;
        padding-bottom: 45px;
        min-height: 241px;
        text-align: center;
    }

    .preview__heading {
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
    }

    .preview__text {
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }

    .preview__button {
        padding-top: 8px;
        padding-right: 14.13px;
        padding-bottom: 9px;
        padding-left: 16.14px;
        min-width: 70px;
        max-width: 200px;
        min-height: 40px;
    }

    /*  4. ABOUT-US
        ==========================================================================  */

    .about-us__content {
        padding-bottom: 41px;
        min-height: 393px;
    }

    .about-us__text {
        font-size: 14px;
        line-height: 28px;
    }

    /*  5. GALLERY
        ==========================================================================  */

    .gallery__background::after {
        background-image: url(../img/gallery-320-background.webp);
    }

    .gallery__content {
        padding-bottom: 40px;
    }

    .gallery__select {
        width: min(100%, 400px);
    }

    .gallery__pictures {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 21px;
    }

    .gallery__navigation {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .gallery__number {
        padding-right: 1px;
    }

    .gallery__swiper {
        width: min(100%, 450px);
        height: min(367rem, 600px);
    }

    .gallery__item-swiper {
        height: 100%;
    }

    .gallery__modal {
        width: calc(290 / 320 * 100%);
        height: clamp(300px, 95vh, 600px);
    }

    .gallery__content-modal {
        flex-direction: column;
        height: 100%;
    }

    .gallery__picture-modal {
        width: 100%;
        height: calc(200 / 600 * 100%);
    }

    .gallery__information-modal {
        height: calc(100% - 200 / 600 * 100%);
        padding-top: 17px;
        padding-right: 10px;
        padding-bottom: 15px;
        padding-left: 20px;
    }

    /*  6. BIG-SECTION
        ==========================================================================  */

    .big-section__content {
        padding-bottom: 48.86px;
    }

    .big-section__events {
        padding-top: 51px;
    }

    /**
     * 6.1. CATALOG 
     */

    .catalog__country-box {
        flex-wrap: wrap;
        padding-left: 1px;
    }

    .catalog__heading {
        padding-left: 0;
        margin-bottom: var(--margin-catalog-heading);
    }

    .catalog__list-country {
        padding-top: 0;
    }

    .catalog__item-country:nth-child(n + 3):not(:last-child) {
        padding-left: 1px;
    }

    .catalog__step-country {
        width: 32px;
        height: 32px;
        background-size: 32px 32px;
    }

    .catalog__step-country--disabled {
        transform: scale(0.95);
    }

    .catalog__text {
        display: none;
    }

    .catalog__button-time {
        padding-top: 20px;
        padding-bottom: 20px;
        min-height: 74px;
    }

    .catalog__item-time:nth-child(n + 4) .catalog__button-time {
        padding-top: 19px;
        padding-bottom: 21px;
    }

    .catalog__circle-time {
        width: 30px;
        height: 30px;
    }

    .catalog__svg-time {
        width: 12px;
        height: 7px;
    }

    .catalog__list-artist {
        padding-top: 20px;
        padding-bottom: 21px;
        margin-right: 0;
        columns: auto 210px;
    }

    .catalog__plug-artist {
        display: none;
    }

    .catalog__img-null {
        width: 90px;
        height: 130px;
    }

    .catalog__text-null {
        font-size: 18px;
    }

    .catalog__subject {
        font-size: 24px;
    }

    /**
     * 6.2. EVENTS
     */

    .events__swiper {
        margin-bottom: var(--margin-events-swiper);
    }

    .events__item {
        width: 100%;
    }

    .events__item--hidden {
        display: flex;
    }

    .events__item--hidden-768 {
        display: flex;
    }

    .events__information {
        padding-right: 10px;
        padding-bottom: 49px;
        padding-left: 28px;
    }

    .events__subject {
        font-size: 24px;
    }

    .events__pagination {
        gap: var(--gap-events-pagination);
        justify-content: center;
    }

    .events__circle {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: var(--background-pagination-passive);
    }

    .events__circle--active {
        background-color: var(--background-pagination-active);
    }

    .events__button {
        display: none;
    }

    /*  7. EDITIONS
        ==========================================================================  */

    .editions__background {
        background-image: url(../img/editions-320-background.webp);
        background-repeat: repeat;
        background-size: 100%;
        background-position: top center;
    }

    .editions__content {
        padding-bottom: 43px;
    }

    .editions__button-accordion {
        justify-content: space-between;
        border-top: 1px solid var(--border-4);
        border-bottom: 1px solid var(--border-4);
        min-height: 40px;
        cursor: pointer;
        pointer-events: all;
    }

    .editions__svg-accordion {
        display: block;
        width: 12px;
        height: 8px;
        fill: none;
        stroke: var(--svg-1);
        transition: transform 0.25s ease-in-out;
    }

    .editions__button-accordion--active .editions__svg-accordion {
        transform: rotate(-180deg);
    }

    .editions__list-category {
        display: flex;
        overflow: hidden;
        max-height: 0;
    }

    .editions__item-category {
        border-bottom: 1px solid var(--border-4);
        padding-right: 0;
    }

    .editions__label-category {
        min-height: 39px;
    }

    .editions__span-category {
        margin-right: auto;
    }

    .editions__svg-category {
        width: 12px;
        height: 12px;
        fill: var(--active-6);
    }

    .editions__list-checked {
        flex-direction: column;
        margin-bottom: var(--margin-editions-list-checked);
        padding-left: 1px;
    }

    .editions__list-checked .editions__svg-category {
        display: block;
    }

    .editions__box-cost {
        width: min(95.5%, 350px);
    }

    .editions__navigation {
        display: none;
    }

    .editions__swiper {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        height: 100%;
    }

    .editions__list-swiper {
        display: flex;
        flex-wrap: wrap;
        row-gap: var(--gap-editions-list-row);
        column-gap: var(--gap-editions-list-column);
    }

    .editions__item-swiper {
        width: calc((100% - var(--gap-editions-list-column)) / 2);
    }

    .editions__img-swiper {
        width: 100%;
        height: 100%;
    }

    .editions__box-swiper {
        flex-direction: column;
        gap: var(--gap-editions-box);
    }

    .editions__information-swiper {
        width: 100%;
    }

    .editions__subject-swiper {
        font-size: 12px;
        line-height: 16px;
    }

    .editions__author-swiper {
        font-size: 12px;
    }

    .editions__price-swiper {
        max-width: 90%;
        font-size: 12px;
        line-height: 16px;
    }

    .editions__button-swiper {
        padding-right: 34px;
        padding-left: 34px;
        padding-bottom: 12px;
        max-width: 58px;
        min-height: 17.8px;
    }

    .editions__null-swiper--active {
        position: static;
        height: 254rem;
    }

    /*  8. PROJECTS
        ==========================================================================  */

    .projects__text {
        width: 100%;
    }

    .projects__swiper {
        margin: 0 17px;
        margin-right: 18px;
    }

    .projects__item-swiper {
        height: 65px;
    }

    /*  9. CONTACTS
        ==========================================================================  */

    .contacts__heading {
        padding-left: 15px;
    }

    .contacts__content {
        border: none;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 30px;
        padding-left: 0;
        width: 100%;
        max-width: none;
    }

    .contacts__adaptive {
        padding: 0 15px;
    }

    .contacts__adaptive:first-child {
        margin-bottom: var(--margin-contacts-adaptive);
    }

    .contacts__subject {
        line-height: 24px;
    }

    .contacts__address {
        font-size: 14px;
        line-height: 14px;
    }

    .contacts__box-map {
        position: static;
        margin-bottom: var(--margin-contacts-map);
        height: 320px;
    }

    .contacts__input-validate {
        padding: 3px 23px;
        width: min(100%, 400px);
        min-width: 0;
    }

    .contacts__button {
        padding-top: 10px;
        padding-bottom: 9px;
        padding-left: 33px;
        min-width: 128px;
        min-height: 40px;
    }

    .contacts__link-social {
        width: 50px;
        height: 50px;
    }

    .contacts__svg-social {
        width: 50px;
        height: 50px;
    }

    /* FOOTER */
    .footer__container {
        gap: var(--footer-container-gap);
        flex-direction: column-reverse;
        padding: 20px 55px;
    }

    .footer__logo {
        padding-left: 0.5px;
        width: 97px;
        height: 22px;
    }

    .footer__img {
        width: 97px;
        height: 22px;
    }

    .footer__link-social {
        width: 50px;
        height: 50px;
    }

    .footer__svg-social {
        width: 50px;
        height: 50px;
    }
}
